.use-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.use-poppins-normal {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

